.app-wrapper {
  border: 1px solid black;
  display: flex;
}

.top-nav-wrapper {
  border: 1px solid black;
  height: 50px;
  position: fixed;
  flex: 1;
  width: 100vw;
  background-color: #ff6600;
}

.main-content-wrapper {
  border: 1px solid black;
  display: flex;
}

.side-nav-wrapper {
  border: 1px solid black;
  width: 15vw;
  margin-top: 50px;
  height: 100vh;
}

.display-wrapper {
  /* border: 1px solid black;
  flex: 1; */
  margin-top: 50px;
}

/*  New project */
.form-wrapper {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.form-item {
  margin: 10px;
}
