.top-nav-wrapper {
  height: 100px;
  position: sticky;
  top: 0;
  flex: 1;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 1rem 3rem 1rem;
}

/* Dark mode */

.dark .top-nav-wrapper {
  background: #3a3b3c;
}
