.app-wrapper {
  border: 1px solid black;
  display: flex;
}

.top-nav-wrapper {
  height: 50px;
  position: fixed;
  flex: 1;
  width: 100vw;
  background-color: #ed6f00;
}

.main-content-wrapper {
  border: 1px solid black;
  display: flex;
}

.side-nav-wrapper {
  width: 15vw;
  margin-top: 45px;
  height: 100vh;
  background-color: #ed6f00;
  color: white;
}

.display-wrapper {
  margin-top: 50px;
  margin-left: 20px;
}

/*  New project */
.form-wrapper {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.new-project-title {
  color: #0cafa9;
  text-align: left;
  font-size: xx-large;
}

.form-field {
  font-size: 14px;
  position: relative;
  padding-top: 20px;
  margin-bottom: 5px;
}

.form-field textarea,
.form-field input {
  border: 2px solid #bed8cf;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 12px;
  border-radius: 3px;
  width: 500px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s ease;
}

.form-field input {
  height: 40px;
}

.form-field textarea {
  padding: 20px;
  height: 80px;
}

.form-field textarea:focus,
.form-field input:focus {
  padding: 5px;
  top: 10px;
  color: black;
  border-color: #0cafa9;
  transition-delay: 0.1s;
}

.form-field .placeholder {
  position: absolute;
  left: 12px;
  top: calc(50% + 10px);
  transform: translateY(-50%);
  color: #bed8cf;
  transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.form-field textarea.blurred + .placeholder,
.form-field textarea:focus + .placeholder,
.form-field input.blurred + .placeholder,
.form-field input:focus + .placeholder {
  top: 20px;
  font-size: 10px;
  color: #0cafa9;
  background: white;
  padding: 3px;
}

.task {
  display: flex;
  position: relative;
}

.task .form-btn {
  padding: 0;
  height: 25px;
  width: 25px;
}

.form-btns {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.form-btn {
  border: 1px solid #bed8cf;
  padding: 1rem;
  margin-top: 10px;
  margin: 5px;
  background: #bed8cf;
  color: white;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 40%;
  border-radius: 3px;
}

.form-btn:hover {
  background-color: #0cafa9;
  color: white;
  border: 1px solid #bed8cf;
}

/* Side bar */

.sidebar-projects-wrapper {
  margin-top: 10px;
  height: 90%;
  width: 15vw;
  overflow: auto;
}

.sidebar-title {
  padding-top: 20px;
  text-align: center;
  font-size: x-large;
}

.sidebar-project-btn {
  background: #ed6f00;
  border-right: none;
  border-left: none;
  border-top: 1px solid white;
  border-bottom: none;
  padding: 5px;
  width: 99%;
  color: white;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.sidebar-project-btn:hover {
  background-color: white;
  color: #ed6f00;
  border-right: none;
  border-left: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */

  color: white;
}
