body {
  background: rgb(24, 25, 26);
  font-family: "Inter", Arial, sans-serif;
}

h1 {
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  color: rgb(228, 230, 235);
}

h3 {
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}
p {
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}
